/* Form stuff */
.form-section {
    color: white;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 10rem auto;
    width: 30%;
    box-shadow: 0px 0px 10px darkred;
    border-radius: 2rem;
    padding: 1rem;
}

.form-section h1 {
    margin: 0;
    padding-top: 1rem;
}

.form-section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-info {
    display: flex;
    flex-direction: column;

}

.info-field {
    display: flex;
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
}

.info-field label {
    margin-right: 1rem;
}

.info-field input {
    border-radius: 10px;
    border: none;
    padding: 0.5rem 1rem;
    min-width: 0px;
}

.info-field input:focus {
    border: none;
}

form textarea {
    margin: 0 1rem;
    padding: 1rem;
    resize: none;
    box-shadow: 0 0 10px darkred;
    border-radius: 10px;
    border: none;
}

.contact-btn {
    border: none;
    background-color: darkred;
    border-radius: 5rem;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: opacity .3s;
    box-shadow: 2px 3px 10px rgba(139, 0, 0.2);
}

.contact-btn:hover {
    opacity: .8;
}

.contact-btn:active {
    opacity: .5;
    box-shadow: none;
    transform: translate(2px, 3px);
}

.send-btn {
    width: 30%;
    height: 3rem;
    margin: 1rem auto;
    
}


/* Success-page styles */
.suc-message {
    text-align: center;
    margin: 2rem auto;
}

.suc-message h1 {
    margin: 0;
}

.suc-home-btn {
    padding: 1rem 2rem;
}


