.top-section {
    margin: 0;
    background-color: black;

}

.top-section h1,
.top-section h2 {
    margin: 0;
    display: block;
    padding: 0;

}

.top-greeting {
    padding: 10rem;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(to bottom right, white, 60%, darkred, rgb(81, 2, 2));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.top-greeting h1 {
    font-size: 5rem;
    font-family: "Quintessential", cursive;

}

.top-greeting h2 {
    font-size: 1.8rem;
}

/* Media queries for font */

@media screen and (max-width: 768px) {
    .top-greeting {
        padding: 6rem 3rem;
    }
    .top-greeting h1 {
        font-size: 3rem;
    }

    .top-greeting h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 360px) {
    .top-greeting h1 {
        font-size: 2.2rem;
    }

    .top-greeting h2 {
        font-size: 1rem;
    }
}


